---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #002c29;
  background-image: linear-gradient(
    120deg,
    #002c29,
    #002424
  );
}

.main-content h1,
.main-content h2,
.main-content h3 {
  color: #002c29;
}
