---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #002c29;
  background-image: linear-gradient(
    120deg,
    #002c29,
    #002424
  );
}

.page-logo {
  max-height:3rem;
  width: auto;
}

/* Mobile responsive styling */
@media screen  {
  .page-logo {
    width: 80% !important;  /* Scales to a percentage of the screen width */
    max-height:3rem;      /* Prevents it from getting too large on big mobile screens */
    margin: 0 auto;         /* Centers the logo in the header */
  }
}

.main-content h1,
.main-content h2,
.main-content h3 {
  color: #002c29;
}
